/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-ibm-serif), serif;
  --font-mono: var(--font-ibm-mono), monospace;
}
/* 
@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #93bbfb;
  --color-primary-content: #212638;
  --color-secondary: #dae8ff;
  --color-secondary-content: #212638;
  --color-accent: #93bbfb;
  --color-accent-content: #212638;
  --color-neutral: #212638;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f4f8ff;
  --color-base-300: #dae8ff;
  --color-base-content: #212638;
  --color-info: #93bbfb;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #212638;
  --color-primary-content: #f9fbff;
  --color-secondary: #323f61;
  --color-secondary-content: #f9fbff;
  --color-accent: #4969a6;
  --color-accent-content: #f9fbff;
  --color-neutral: #f9fbff;
  --color-neutral-content: #385183;
  --color-base-100: #385183;
  --color-base-200: #2a3655;
  --color-base-300: #212638;
  --color-base-content: #f9fbff;
  --color-info: #385183;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;

  --tt-tailw: 6px;
  --tt-bg: var(--color-primary);
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  p {
    margin: 1rem 0;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

:root,
[data-theme] {
  background: var(--color-base-200);
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
} */

/*
  ---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

:root {
  --radius: 0.625rem;
  --background: oklch(0.957 0.037 77.45);
  --foreground: oklch(0.127 0.009 0);
  --card: oklch(0.957 0.037 77.45);
  --card-foreground: oklch(0.127 0.009 0);
  --popover: oklch(0.957 0.037 77.45);
  --popover-foreground: oklch(0.127 0.009 0);
  --primary: oklch(0.127 0.009 0);
  --primary-foreground: oklch(0.957 0.037 77.45);
  --secondary: oklch(0.943 0.032 75.65);
  --secondary-foreground: oklch(0.127 0.009 0);
  --muted: oklch(0.943 0.032 75.65);
  --muted-foreground: oklch(0.57 0.022 135);
  --accent: oklch(0.943 0.032 75.65);
  --accent-foreground: oklch(0.127 0.009 0);
  --destructive: oklch(0.635 0.183 27.33);
  --destructive-foreground: oklch(0.957 0.037 77.45);
  --border: oklch(0.953 0.034 77.15);
  --input: oklch(0.953 0.034 77.15);
  --ring: oklch(0.127 0.009 0);
  --chart-1: oklch(0.542 0.163 29.23);
  --chart-2: oklch(0.538 0.109 180.59);
  --chart-3: oklch(0.487 0.046 276.12);
  --chart-4: oklch(0.659 0.159 86.78);
  --chart-5: oklch(0.665 0.157 62.53);
  --sidebar-background: oklch(0.957 0.037 77.45);
  --sidebar-foreground: oklch(0.563 0.024 245.04);
  --sidebar-primary: oklch(0.175 0.01 276.2);
  --sidebar-primary-foreground: oklch(0.957 0.037 77.45);
  --sidebar-accent: oklch(0.943 0.032 75.65);
  --sidebar-accent-foreground: oklch(0.175 0.01 276.2);
  --sidebar-border: oklch(0.953 0.034 77.15);
  --sidebar-ring: oklch(0.703 0.151 15.06);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0.24 0.018 70.72);
  --foreground: oklch(0.847 0.029 68.45);
  --card: oklch(0.265 0.02 70.72);
  --card-foreground: oklch(0.847 0.029 68.45);
  --popover: oklch(0.265 0.02 70.72);
  --popover-foreground: oklch(0.847 0.029 68.45);
  --primary: oklch(0.741 0.053 77.38);
  --primary-foreground: oklch(0.24 0.018 70.72);
  --secondary: oklch(0.354 0.023 71.34);
  --secondary-foreground: oklch(0.847 0.029 68.45);
  --muted: oklch(0.354 0.023 71.34);
  --muted-foreground: oklch(0.582 0.02 66.85);
  --accent: oklch(0.354 0.023 71.34);
  --accent-foreground: oklch(0.847 0.029 68.45);
  --destructive: oklch(0.635 0.183 27.33);
  --destructive-foreground: oklch(0.847 0.029 68.45);
  --border: oklch(0.354 0.023 71.34);
  --input: oklch(0.354 0.023 71.34);
  --ring: oklch(0.732 0.042 76.51);
  --chart-1: oklch(0.533 0.159 255.25);
  --chart-2: oklch(0.541 0.121 195.72);
  --chart-3: oklch(0.621 0.161 62.18);
  --chart-4: oklch(0.679 0.162 288.19);
  --chart-5: oklch(0.672 0.165 332.59);
  --sidebar-background: oklch(0.265 0.02 70.72);
  --sidebar-foreground: oklch(0.847 0.029 68.45);
  --sidebar-primary: oklch(0.741 0.053 77.38);
  --sidebar-primary-foreground: oklch(0.24 0.018 70.72);
  --sidebar-accent: oklch(0.354 0.023 71.34);
  --sidebar-accent-foreground: oklch(0.847 0.029 68.45);
  --sidebar-border: oklch(0.354 0.023 71.34);
  --sidebar-ring: oklch(0.732 0.042 76.51);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  span {
    @apply font-serif;
  }
}
